html,body {
    margin: 0;
    padding: 0;
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

body {
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #82d1c3;
    border-bottom: 10px solid #5e6363;
    height: 7%;
}

h1 {
    font-weight: 300;
    color: #5e6363;
    font-size: 4vh;
}

/* || Formatting for container */
.content-container {
    display: flex;
    height: calc(90vh - 10px);
}

.grid-container {
    height: calc(93vh - 20px);
    width: calc(93vh - 20px);
    display: grid;
    border-bottom: 10px solid #5e6363;
}

.left-holder,.right-holder {
    flex-grow: 1;
    height: calc(93vh - 10px);
}

.left-holder {
    border-right: 10px solid #5e6363;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 0;
}

.right-holder {
    border-left: 10px solid #5e6363;
}

.clean-button {
    font-size: 15px;
    border: 1px solid #5e6363;
    background-color: white;
    border-radius: 10px;
    color: black;
    
}

#grid-size {
    width: 30px;
}

.menu-item {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 15px;
}

